:root{
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: var(--font);
    color: #475569;
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.4rem;
}

button{
    cursor: pointer;
}

.container{
    width: 90%;
    max-width: 110rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 8rem;
    border-bottom: 0.1rem solid #e2e8f0;
    a.logo{
        color:#334155;
        font-size: 3.2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 1rem;
        text-transform: uppercase;
        text-decoration: none;
            font-family: 'Courier New', Courier, monospace;
    }
    nav{
        display: flex;
        gap: 2rem;
        align-items: center;
        a{
            color:#334155;
            font-size: 1.4rem;
            text-transform: uppercase;
        };
    }
}

main{
    width: 90%;
    max-width: 110rem;
    margin: 6.4rem auto;
    display: grid;
    flex-direction: column;
}

h1{
    font-size: 4rem;
    text-align: center;
    text-transform: none;
    margin-bottom: 4.8rem;
    font-weight: 100;
}

.book-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.2rem;
}

.card{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 48em;
    border-radius: 1.2rem;
    border: 0.1rem solid #e2e8f0;
    padding: 1.2rem;
    img{
        width: 100%;
        object-fit: cover;
        margin-bottom: 1.2rem;
        border-radius: 0.8rem;
        overflow: hidden;
    }
    h2{
        font-size: 1.5rem;
        margin-bottom: 0.4rem;
        color: #334155;
    }
    h3{
        font-size: 1.2rem;
        margin-bottom: 1.6rem;
        color: #475569;
        font-weight: 400;
    }
    span{
        position: absolute;
        display: inline-flex;
        align-self: flex-end;
        font-size: 1rem;
        color: #fff;
        font-weight: 600;
        padding: 0.4rem 1rem;
        border-radius: 5rem;
        background: blueviolet;
        margin-top: 1rem;
        margin-right: 1rem;
        opacity: 0.9;
        border: 0.1rem solid #fff;
    }
}

.card-button-container{
    display: flex;
    gap: 0.4rem;
}

button.btn,
button.btn-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5rem;
    border: none;
    bottom: 0;
    font-family: var(--font);
    background-color: #1e293b;
    color: #fff;
    font-size: 1.4rem;
    flex-grow: 1;
    transition: all .2s ease-in-out;
}

button.btn-favorite{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10rem;
    border: 0.1rem solid #1e293b;
    background: none;
    color: #fff;
    font-size: 1.6rem;
    transition: all .2s ease-in-out;
}

button.btn-info:hover{
    color: #1e293b;
    background-color: #cbd5e1;
    border: 0.1rem solid #cbd5e1;
}

button.btn-favorite:hover{
    color: #1e293b;
    background-color: #cbd5e1;
    border: 0.1rem solid #cbd5e1;
}

h2.info-text{
    font-size: 2rem;
    font-weight: 100;
}

button.btn-logout{
    padding: 0.8rem 1.2rem;
    border-radius: 5rem;
    border: none;
    text-transform: uppercase;
}

form.form{
    width: 32rem;
    display: flex;
    flex-direction: column;
    height: auto;
    input{
        padding: 1.2rem 1.2rem;
        background: none;
        border: 0.1rem solid #e2e8f0;
        border-radius: 0.8rem;
        margin-bottom: 1.2rem;
        font-size: 1.4rem;
        color: #475569;
    }
    textarea{
        height: 12rem;
        padding: 1.2rem 1.2rem;
        background: none;
        border: 0.1rem solid #e2e8f0;
        border-radius: 0.8rem;
        margin-bottom: 1.2rem;
        font-size: 1.4rem;
        resize: vertical;
        font-family: var(--font);
        color: #475569;
    }
    select.input {
        padding: 1.2rem 1.2rem;
        background: none;
        border: 0.1rem solid #e2e8f0;
        border-radius: 0.8rem;
        margin-bottom: 1.2rem;
        font-size: 1.4rem;
        padding-right: 2.8rem;
        color: inherit;
        font-family: inherit;
    }
}

.form-update{
    width: 100%;
}

.form-title{
    font-size: 3.2rem;
    font-weight: 200;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: none;
    margin-bottom: 4rem;
}

p.small{
    font-size: 1.4rem;
    font-weight: 100;
    margin-top: 1.2rem;
    a{
        font-weight: 400;
    }
}

::placeholder{
    font-size: 1.4rem;
}

.admin-container{
    display: grid;
    grid-template-columns: max-content 1fr;
    width: 100%;
    gap: 3.2rem;
}

.table{
    width: 100%;
    border-collapse: collapse;
    color: #475569;
    border: 0.1rem solid #e2e8f0;
    thead{
        tr{
            th{
                padding: 0.8rem;
                font-size: 1.4rem;
            }
        }
    }
    tbody{
        td{
            padding: 0.4rem 0.8rem;
            font-size: 1.3rem;
        }
    }
    button{
        background: none;
        border: none;
        width: 3.2rem;
        height: 3.2rem;
    }
}

.table-container{
    width: 100%;
    flex-grow: 1;
}

.table-actions{
    display: flex;
}

.book-detail{
    display: grid;
    width: 90%;
    max-width: 110rem;
    grid-template-columns: 32rem 1fr;
    gap: 4rem;
    color: #475569;
    img{
        width: 32rem;
        border-radius: 0.8rem;
    }
    .book-info{
        h1{
            text-align: left;
            margin-bottom: 0.4rem;
            font-weight: 100;
        }
        h2{
           font-weight: 400;
           color: #64748b;
        }
        p{
            margin: 2rem 0;
            font-size: 1.4rem;
            white-space: normal;
            overflow-wrap: break-word;
            color: #475569;
        }
        button{
            width: 20rem;
            align-self: flex-start;
            height: 4rem;
        }
    }
}

.btn-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}